body {
  font-family: Arial;
  margin: 0;
}

header {
  background: #1e90ff;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.hero {
  padding: 40px;
  text-align: center;
  background: #f2f2f2;
}

.courses {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card {
  background: #1e90ff;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
